<launch>
  <group ns="rtabmap">
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
	  <remap from="scan" 		  to="/laser"/>
	  <remap from="/rtabmap/grid_map" to="/map"/>
          <remap from="rgb/image" 	  to="/camera/rgb/image_rect_color"/>
          <remap from="depth/image" 	  to="/camera/depth_registered/image_raw"/>
          <remap from="rgb/camera_info"   to="/camera/rgb/camera_info"/>

          <param name="queue_size" type="int" value="10"/>

          <!-- RTAB-Map's parameters -->
          <param name="RGBD/AngularUpdate" 	  type="string" value="0.01"/>
	  <param name="odom_frame_id"		  type="string" value="odom"/>
          <param name="frame_id" 		  type="string" value="mobile_base_body_link"/>
          <param name="subscribe_depth" 	  type="bool"   value="true"/>
	  <param name="subscribe_laserScan" 	  type="bool"   value="true"/>
          <param name="RGBD/LinearUpdate" 	  type="string" value="0.01"/>
          <param name="Rtabmap/TimeThr" 	  type="string" value="700"/>
          <param name="Mem/RehearsalSimilarity"   type="string" value="0.45"/>
          <param name="RGBD/OptimizeFromGraphEnd" type="string" value="true"/>
    </node>
  </group>
</launch>
