<launch>
    <master auto="start"/>
    <!-- <arg name="map" />
    #<arg name="localization" default="amcl" />
    #<arg name="model" default="$(env ROBOT_CODE)/cer/app/robots/CER01/cer.urdf"/>
    #<param name="robot_description" command="$(find xacro)/xacro inorder $(arg model)" />
    #<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    #<node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>
    #<include file="$(arg localization).launch" /> -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="../navigation/costmap_common.yaml" command="load" ns="global_costmap" />
        <rosparam file="../navigation/costmap_common.yaml" command="load" ns="local_costmap" />
        <rosparam file="../navigation/local_costmap.yaml" command="load" />
        <rosparam file="../navigation/global_costmap.yaml" command="load" />
        <rosparam file="../navigation/planner.yaml" command="load" />
    </node>
</launch>
